/* #MARK: root 
*/

@font-face {
  font-family: "Montserrat";
  src: url("assets/fonts/Montserrat-VariableFont_wght.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  src: url("assets/fonts/Inter-VariableFont_opsz_wght.woff") format("woff");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --fuentePrincipal: "Montserrat", sans-serif;
  --fuenteSecundaria: "Inter", sans-serif;

  --bg: #212121;
  --colorPrimario: #fc6200;
  --colorSecundario: #c1e5f1;
  --letrasOscuras: #3d3c42;
  --letrasClaras: #ffffff;
  --fondoClaro: #333333;

  --espaciado_xs: 0.25rem;
  --espaciado_sm: 0.5rem;
  --espaciado_md: 1rem;
  --espaciado_lg: 1.25rem;
  --espaciado_xl: 1.5rem;
  --espaciado_xxl: 2rem;
  --espaciado_xxxl: 2.25rem;
}

body {
  background-color: var(--bg);
  font-family: var(--fuenteSecundaria);
}
h1,
h2 {
  width: 100%;
  margin: var(--espaciado_lg) 0;
  color: var(--letrasClaras);
  font-family: var(--fuentePrincipal);
  font-size: var(--espaciado_xl);
  text-transform: uppercase;
}
.contenedor {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

/* #endregion  */

/* #MARK: Header 
*/

header {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  background-color: var(--colorPrimario);
  color: var(--letrasOscuras);
  padding: var(--espaciado_lg);
}

#logotipo,
#menu_hamburguesa img,
#carrito img {
  width: var(--espaciado_xl);
}
#isologotipo {
  width: 4.25rem;
}

.menu {
  display: flex;
  gap: var(--espaciado_sm);
}

.menu a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--letrasClaras);
  padding: var(--espaciado_sm);
  font-weight: 400;
}
.menu a:hover {
  color: var(--letrasOscuras);
  text-decoration: underline 2px solid;
}

/* #endregion */

/* #MARK: Banner 
*/

.banner {
  padding: 15vh 15vw;
  background-image: url(assets/img/alpine_wec);
  background-color: gray;
  background-blend-mode: multiply;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  margin: 0;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.banner p {
  font-size: var(--espaciado_xl);
  font-weight: bold;
}
.suscripcion {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.suscripcion a {
  text-decoration: none;
  color: var(--letrasClaras);
  background-color: var(--colorPrimario);
  padding: var(--espaciado_sm);
  border-radius: var(--espaciado_xs);
  margin-top: var(--espaciado_md);
}

.banner a:hover {
  background-color: var(--fondoClaro);
  color: var(--letrasClaras);
}
.banner p,
.banner small {
  margin-bottom: var(--espaciado_lg);
}

/* #endregion */

/* #MARK: Novedades
*/

.contenedor {
  width: 85vw;
  margin: 5% auto;

  display: flex;
  flex-direction: column;
  gap: var(--espaciado_lg);
}

article {
  background-color: var(--colorSecundario);
  border-radius: var(--espaciado_sm);
  padding: var(--espaciado_xl);
}

article > h3 {
  font-weight: bolder;
  font-size: var(--espaciado_lg);
  margin: var(--espaciado_sm) 0;
}

article > strong {
  text-transform: uppercase;
  font-size: var(--espaciado_md);
  color: var(--colorPrimario);
}

/* #endregion */

/* #MARK: Destacado 
*/
#destacado {
  background-color: var(--fondoClaro);
  padding: var(--espaciado_lg) 0;
}
.contenedor div img {
  width: 100%;
}
.galeria {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: var(--espaciado_md);
}
.galeria img {
  border-radius: var(--espaciado_xs);
  min-width: 0;
  box-shadow: 0px 18px 25px 4px rgba(0, 0, 0, 0.3);
  object-fit: cover;
  object-position: center;
}

/* #endregion */

/* #MARK: Mas Noticias 
*/

.contenedor_noticias {
  display: flex;
  flex-wrap: wrap;
  gap: var(--espaciado_xl);
}
.contenedor_noticias h3 {
  font-weight: bolder;
}
.contenedor_noticias p {
  margin: var(--espaciado_sm) 0;
}

.contenedor_noticias article {
  padding: 0.75rem var(--espaciado_sm);
  background-color: var(--bg);
  color: var(--letrasClaras);
  flex: 1 1 33%;
  display: flex;
  flex-direction: column;
}
.contenedor_noticias article > a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--letrasClaras);
  background-color: var(--colorPrimario);
  padding: var(--espaciado_sm) var(--espaciado_md);
  border-radius: var(--espaciado_xs);
  margin-top: auto;
  align-self: flex-start;
}
.contenedor_noticias article > a:hover{
  background-color: var(--fondoClaro);
  color: var(--letrasClaras);
}

.contenedor_noticias .noticia_4 img:nth-child(2) {
  display: none;
}

/* #endregion */

/* #MARK: Footer 
*/

footer {
  border-top: 2px solid black;
  background-color: var(--letrasClaras);
  padding: var(--espaciado_md);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer a {
  text-decoration: none;
  color: var(--letrasOscuras);
  text-decoration: underline;
}
.redes {
  display: flex;
  gap: var(--espaciado_md);
}
.redes img {
  width: 1.5rem;
}

/* #endregion */








/* #MARK: MOBILE 
*/

@media screen and (max-width: 767px) {
  h1,
  h2 {
    font-size: var(--espaciado_xl);
  }
  nav {
    order: -1;
  }
  #isologotipo {
    display: none;
  }
  .menu {
    display: none;
  }

  #novedades .contenedor > img {
    display: none;
  }
  figure {
    display: none;
  }
  
  .contenedor > article:nth-child(4),
  .contenedor > article:nth-child(5) {
    display: none;
  }
  .galeria img:nth-child(4) {
    display: none;
  }

  .contenedor_noticias article {
    flex: 1 1 33%;
  }
  #destacado .contenedor_destacado {
    padding: 0 5% 10%;
  }
  .contenedor_noticias article {
    background-color: var(--letrasClaras);
    color: var(--letrasOscuras);
  }
}

/* #endregion */










/* #MARK: TABLET 
*/
@media screen and (min-width: 768px) and (max-width: 991px) {




  /* #MARK: Header 
*/
  #header {
    flex-direction: row-reverse;
  }
  nav {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: var(--espaciado_md);
  }
  #menu_hamburguesa,
  #isologotipo {
    display: none;
  }
  .menu a {
    font-size: 0.75rem;
  }
  #carrito {
    margin-left: var(--espaciado_md);
  }
  /* #endregion */

  /* #MARK: Banner 
*/
  .banner {
    flex-direction: row;
    align-items: center;
    gap: var(--espaciado_md);
  }
  .banner p {
    font-size: var(--espaciado_xxl);
  }
  .banner a {
    margin: auto;
  }
  .suscripcion {
    justify-content: flex-start;
  }
  .suscripcion small {
    font-size: var(--espaciado_md);
  }

  /* #endregion */

  /* #MARK: Novedades
   */

  #novedades .contenedor figure {
    display: none;
  }
  #novedades .contenedor {
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 1 50%;
  }

  #novedades article {
    flex: 1 1 30%;
  }
  /* #endregion */

  /* #MARK: Destacado
   */
  #destacado .contenedor_destacado {
    padding: 0 8% 5%;
  }
  .galeria {
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--espaciado_md);
  }

  /* 
  PROBLEMAS EN MOZILLA SI SE VE BIEN, PERO EN CHROME NO. 
  EN MOZILLA A PARTIR DE 768 SI APLICA LA GALERIA EN LOS TAMAÑOS
  EN CHROME O SUS DERIVADOS NO, CONTINUA SIENDO UNA COLUMNA */

  /* 
Problema solucionado, necesitaba darle un ancho minimo de 0 a las imagenes en destacado
magicamente porque visual estudio es bueno arreglo el error. */

  .galeria img:nth-child(1),
  .galeria img:nth-child(4) {
    flex: 1 1 25%;
  }
  .galeria img:nth-child(2),
  .galeria img:nth-child(3) {
    flex: 1 1 50%;
  }

  /* #endregion */

  /* #MARK: Mas Noticias 
*/

  .contenedor_noticias .noticia_4 img:nth-child(1) {
    display: none;
  }
  .contenedor_noticias .noticia_4 img:nth-child(2) {
    display: block;
  }

  .contenedor_noticias article {
    flex: 1 1 30%;
    background-color: var(--letrasClaras);
    color: var(--letrasOscuras);
  }
  .contenedor_noticias article:nth-child(5) {
    flex: 1 1 20%;
  }
  .contenedor_noticias article:nth-child(6) {
    flex: 1 1 55%;
  }
}

/* #endregion */









/* #MARK: DESKTOP 
*/

@media screen and (min-width: 991px) {
  h1,
  h2 {
    font-size: var(--espaciado_xxl);
    text-align: center;
  }
  /* #MARK: Header 
*/

  header {
    padding: var(--espaciado_md) var(--espaciado_xxl);
  }
  .menu {
    gap: var(--espaciado_xl);
  }
  #menu_hamburguesa,
  #logotipo {
    display: none;
  }
  #isologotipo {
    width: 6.5rem;
  }
  #carrito {
    width: var(--espaciado_xl);
  }

  /* #endregion */

  /* #MARK: Banner 
*/
  .banner {
    background-image: linear-gradient(
        to top,
        rgba(33, 33, 33, 0.8) 0%,
        rgba(33, 33, 33, 0) 30%
      ),
      url("assets/img/alpine_wec");
    height: 95vh;
    padding: 20vh 15vw;
    background-position: bottom;
    background-size: cover;

    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    gap: var(--espaciado_md);
  }
  .banner p {
    font-size: var(--espaciado_xxl);
    text-transform: uppercase;
    width: 40%;
  }
  .suscripcion {
    flex-direction: row;
    gap: var(--espaciado_xl);
  }
  .suscripcion small {
    font-size: var(--espaciado_lg);
    text-align: end;
  }
  .banner p,
  .suscripcion a,
  .suscripcion small {
    margin: 0;
  }
  /* #endregion */

  /* #MARK: Novedades
 */

  #novedades .contenedor {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  #novedades .contenedor > figure img {
    width: 100%;
    height: auto;
  }
  #novedades .contenedor article {
    flex: 1 1 20%;
  }
  #novedades .contenedor article:last-child {
    flex: 0 1 50%;
  }
  /* #endregion */

  /* #MARK: Destacado
 */

  #destacado {
    padding: 2% 5% 5%;
    background-color: var(--colorPrimario);
  }
  #destacado h2 {
    margin-bottom: var(--espaciado_xxl);
    font-weight: bold;
  }
  .galeria {
    flex-direction: row;
    justify-content: center;
    align-items: center;

    max-width: 1920px;
    margin: 0 auto;
  }
  .galeria img {
    width: 100%;
  }
  .galeria img:nth-child(4) {
    display: none;
  }

  /* #MARK: Mas Noticias
 */
  #mas_noticias .contenedor {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  .contenedor_noticias article {
    flex: 1 1 30%;
    background-color: #1d1d1d;
    color: var(--letrasClaras);
    border-radius: 0;
  }

  #mas_noticias .contenedor article {
    flex: 1 1 20%;
  }
  #mas_noticias .contenedor article:last-child {
    flex: 0 1 50%;
    margin: 0 auto;
    max-height: 400px;
  }

  #mas_noticias .contenedor article:last-child img {
    max-height: 180px;
    object-fit: cover;
    object-position: top;
  }
}

/* #endregion */


 /* #MARK: CREDITOS
 */

li > strong{
  color: var(--letrasClaras);
}

 /* #endregion */
